@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

p[epub|type~="z3998:salutation"]{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
}